@font-face {
    font-family: 'Circe-Bold';
    src: url('Circe-Bold.woff2') format('woff2'),
        url('Circe-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe-ExtraLight';
    src: url('Circe-ExtraLight.woff2') format('woff2'),
        url('Circe-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe-ExtraBold';
    src: url('Circe-ExtraBold.woff2') format('woff2'),
        url('Circe-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe-Regular';
    src: url('Circe-Regular.woff2') format('woff2'),
        url('Circe-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe-Thin';
    src: url('Circe-Thin.woff2') format('woff2'),
        url('Circe-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe-Light';
    src: url('Circe-Light.woff2') format('woff2'),
        url('Circe-Light.woff') format('woff');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}